[2014-12-13 12:56] sochka opened #1 "version 2 is not published on npm"
Hi, looks like there is a v2 of you library, but it's not published on npm. <https://www.npmjs.com/package/angular-jsdoc>

[2015-01-12 19:18] #1 closed

[2015-02-05 15:18] darkmavis1980 opened #6 "Code shown when exectuting JSDoc"
Hi, every time I execute JSDoc with the angular-jsdoc plugin installed it returns this code:
[code]
Any idea why? It doesn't prevent the documentation from being generated, but it's just annoying that every time I get that

[2015-02-05 17:03] allenhwkim commented on #6
It's just annoying console message I haven't commented out.

    angular-jsdoc (master)$ grep -nri "console.log" ./
    .//template/publish.js:425:console.log('view', view);

If you have time, plz comment that out and send me a pull request. If you don't I will deal with it later.

[2015-02-05 17:39] darkmavis1980 commented on #6
Perfect, thanks!

[2015-02-06 00:35] allenhwkim commented on #6
it's done, angular-jsdoc@0.3.2
please update the module

[2015-02-06 00:35] #6 closed

[2015-02-06 09:24] darkmavis1980 commented on #6
Thank you again

On 6 February 2015 at 00:35, Allen Kim <notifications@github.com> wrote:

--
Alessio Michelini

http://musicphotographer.eu
Flickr at http://www.flickr.com/photos/darkmavis
Twitter: http://twitter.com/darkmavis1980

[2015-02-11 14:52] oravecz opened #7 "Grunt Tasks"
Any grunt instructions yet? Is there someway I can use the grunt jsdoc task with your templates and support for @ngdoc tasks?

[2015-02-11 14:54] allenhwkim commented on #7
There was no need for Grunt. I found that Grunt has a shell command. You can copy/paste gulp task command.

 https://github.com/sindresorhus/grunt-shell

[2015-02-19 01:36] bhauk67 opened #8 "Modules, controllers and functions"
I am trying to do something similar to your directive and service examples to produce documents, but also try to define a module either in the same js file or  two different files.

In either case, I have not been able to link the module, controller/service/factory and the functions they contain. If they are all in the same file, controller does not show the defined functions, and if they are in d

[2015-03-19 21:17] allenhwkim commented on #8
This documentation is not for multi module, but for a single module.
I do not see the need to document multiple modules in a single document.
Unless I found a simple solution for that(you guys can help me), I want to keep it as it is.

[2015-04-03 09:14] IgalOre opened #11 "Trouble generating docs with links to line numbered source files"
Hello, i had introduced usage of JSdoc with your template, and so far got nearly 100% satisfying results, except of one annoying thing:

In generated HTML pages, there no single link to numbered source files.
Numbered Source files are generated, i can open them in browser.

I had tried to use original default JSDoc template, and then those links to appears. Also i see that at your example [GoogleM

[2015-04-03 19:55] allenhwkim commented on #11
![image](https://cloud.githubusercontent.com/assets/1437734/6987798/544266b0-da19-11e4-96e3-b9e878e607de.png)

As you see the above image.
The link to the source code is in two place. One is in 'Source: .....'  and the other is in '(static) link(scope, element, attrs)' as a link. I thought the first one is redundant, thus removed it. It was intentional, hopefully this does not bother many.

[2015-04-03 19:56] #7 closed

[2015-04-03 19:57] #8 closed

[2015-04-04 19:27] allenhwkim commented on #11
You are right, it only generate source code for the object. It does not generate links for its methods. I will make a fix soon

[2015-04-08 09:28] IgalOre commented on #11
Sorry for late reply, but even by adding `@function` tag still in generate documentation no links to source files.

May be this due to nature of our project that we documenting, AngularJS modules, services and contained functions in them, and that somehow forcing publishing script to forget generate pointers to numbered source files.

I will try to debug this issue in couple of weeks after my vaca

[2015-04-22 22:31] SamuelMS opened #13 "@member/@private disables documentation generation"
Hey @allenhwkim,

Thanks for creating this great template. I've found it remarkably useful.

However, it looks like certain tags will disable documentation generation for entries where present -- so far, I have encountered the issue with **``@member``** and **``@private``**. All other documentation will still be generated; it will simply skip entries with these tags.

Example:

    /* globals angu

[2015-04-23 00:06] allenhwkim commented on #13
Thanks for using this.
I do not have intention not to generate documentation for `@private` and `@member`

JSDoc says `@private` won't generate documentation, http://usejsdoc.org/tags-private.html

`Private members are not shown in the generated output unless JSDoc is run with the -p/--private command-line option.`

Thus if you want to generate those, please make your own gulp file for that.

[2015-05-15 15:25] robertbaker opened #14 "How can I use prettify-jsdoc and prettify-tomorrow?"

[2015-05-15 15:35] #13 closed

[2015-05-15 15:43] allenhwkim commented on #14
As you see here it's using template `node_modules/angular-jsdoc/template`.
You can copy this directory to yours and modify it for your own. e.g. `node_modules/angular-jsdoc/prettify-template`

[code]

You may ask 'what if angular-jsdoc get upgraded?'.
It's only css, and it does not change a lot of features.

The best wat is to modify prettify-jsdoc.css and prettify-tomorrow as I did it with defaul

[2015-05-15 15:48] robertbaker commented on #14
Thanks,

I think I'll use tomorrow-dark http://jmblog.github.io/color-themes-for-google-code-prettify/tomorrow-night/

Could you add that to your repo?

[2015-06-18 12:13] Emigre opened #16 "TOC hides the contents in lower resolutions"
On lower resolution screens the right sidebar with the TOC goes over `#main`, hiding the descriptions inside if they span all the width.

[2015-06-18 14:37] #16 closed

[2015-06-30 19:55] josephdpurcell opened #18 "Implements and inheritdoc do not inherit doc"
My objective is to see the method documentation from `StorageInterface` when viewing the documentation for `MemoryStorage`.

At present, the below code will render a MemoryStorage documentation that shows a `Methods` section with methods `get()` and `set()` but shows no parameters or other documentation pulled in from `StorageInterface`.

[code]

Any thoughts as to what is causing this issue?

[2015-06-30 23:57] allenhwkim commented on #18
Thanks for using this module
I normally put one object in one file

Not 100% sure, but my guess is that Multiple objects in one file may cause this issue

[2015-07-06 13:37] iamaaron opened #19 "Exclude Files?"
How would one exclude files via Gulp via the shell command? Files such as tests.

[2015-07-06 14:54] allenhwkim commented on #19
http://usejsdoc.org/about-configuring-jsdoc.html, you can have your own configuration file instead of default one.

[2015-07-06 14:59] iamaaron commented on #19
Wow thanks for this!

[2015-07-06 14:59] #19 closed

[2015-07-31 20:13] Ryuno-Ki opened #22 "Example links broken"
Due to a change in your directory structure in [angularjs-google-maps](/allenhwkim/angularjs-google-maps/), your example links are broken.

They should point to https://github.com/allenhwkim/angularjs-google-maps/blob/master/directives/map.js and https://github.com/allenhwkim/angularjs-google-maps/blob/master/services/attr2_options.js (Pro Tipp: Hitting `y` will generate an even more stable URL by

[2015-07-31 22:12] allenhwkim commented on #22
Thanks for report it. I have update the README.md

[2015-08-04 11:02] kikar commented on #8
I feel like according to main style guides using different modules is almost necessary for big apps.
They way you could implement it is:
* Modules defined  `@ngdoc moduleName`
* Every Controller/Directive/Service in that module uses `@memberOf moduleName`
* In the docs navigation have modules on top and then components of the module on the bottom.
    * If clicked on the module show only relative

[2015-08-07 02:24] #22 closed

[2015-08-08 13:13] allenhwkim commented on #11
Started rewriting of the whole template using AngularJS template `anuglar-template` with branch of `ngTemplate`.

[2015-08-08 13:21] allenhwkim commented on #14
started a new branch `ngTemplate` by rewriting the existing template.

[2015-08-08 13:23] allenhwkim commented on #18
started new branch, `ngTemplate`. No guess any more.

[2015-08-14 10:06] DidierLoiseau opened #23 "On smaller screens, the nav overlaps the content"
The generated documentation only displays properly on large screens/browser windows.

See screenshot:
![angular-jsdoc-nav-overlaps-content](https://cloud.githubusercontent.com/assets/6871742/9271761/cda235a0-427c-11e5-8271-d5c202a100ae.png)

[2015-08-14 13:28] ss-bb opened #24 "trouble with group by"
Hi.
the group by @ngdoc is currently ineffective, all result are put in a "global" section,

while i follow your googlemap Documentation style, my file start with
/**
*@ngdoc controller (or service or ...)
*/
 I can't understand this behaviour.

![tmp](https://cloud.githubusercontent.com/assets/5887682/9274768/a87763ec-4298-11e5-9035-fe7d9a19e5d7.png)

I use jsdoc/angular-jsdoc with command line o

[2015-08-19 06:04] allenhwkim commented on #11
This is fixed with new release. 1.0.8

[2015-08-19 06:04] #11 closed

[2015-08-19 06:04] allenhwkim commented on #14
This is fixed with new release. 1.0.8. You can have your own css by creating your own template.

[2015-08-19 06:04] #14 closed

[2015-08-19 06:05] allenhwkim commented on #18
This is fixed with new release. 1.0.8

[2015-08-19 06:05] #18 closed

[2015-08-19 06:05] allenhwkim commented on #23
This is fixed with new release. 1.0.8

[2015-08-19 06:05] #23 closed

[2015-08-19 06:05] allenhwkim commented on #24
This is fixed with new release. 1.0.8

[2015-08-19 06:05] #24 closed

[2015-08-19 07:35] IgalOre opened #25 "Error on running JSdoc with angular-jsdoc 1.0.8"
Hello,

I just updated angular-jsdoc to 1.0.8, but now on execution generation of JSDoc got next error:
FATAL: Unable to load template: Cannot find module 'node_modules/angular-jsdoc/template//publish'

npm-debug.log doesn't contains any new information about error.

Since move to angular-template, is there any additional includes to add at package.json ?

[2015-08-19 11:36] allenhwkim commented on #25
sorry about that. have changed the path and update the README.md
[code]

[2015-08-21 08:47] jansc opened #26 "jsdoc aborts with error when function has no parameters"
I tried angular-jsdoc in a project where a function within a service had no parameters. jsdoc will then abort with an error message.

I'm sorry that I can't provide a pull request to fix this issue, but I hope this information might help you to track it down.

Steps to reproduce:

I created an empty procject with just one js-file and

[code]

Command to start jsdoc:
[code]

Error message:
[code]

[2015-08-21 14:47] allenhwkim commented on #25
@IgalOre Thanks for the reporting, and it's fixed now.

[2015-08-21 14:47] #25 closed

[2015-08-21 14:48] allenhwkim commented on #26
@jansc Thanks for reporting the bug. I made a fix

[2015-08-21 15:28] jansc commented on #26
Thanks for the quick response and for your effort on angular-jsdoc :-)

[2015-08-21 15:30] allenhwkim commented on #26
@jansc If you want, I can add you as a contributor, so that you can directly fix the code even without asking me.

[2015-08-21 15:39] jansc commented on #26
Hm. I see that you commited the contents of angular-jsdoc/default/docs as part of the fix. Was this by accident?
I'd be happy to contribute to angular-jsdoc, but I'm not sure how much time I can put into the project. If things go well, we plan to use it for a bigger project at our company. Then I might be able to make some contributions.

[2015-08-21 15:41] allenhwkim commented on #26
default/docs is to show users how generated document looks like. It was
intentional. I would be happy if you join the team.

On Fri, Aug 21, 2015 at 11:39 AM, Jan Schreiber <notifications@github.com>
wrote:

[2015-08-21 15:42] jansc commented on #26
Ok, thanks :)

[2015-08-24 07:47] jansc commented on #26
It works fine now. Thanks for the fix.

[2015-08-24 07:47] #26 closed

[2015-08-28 16:04] DavideVar opened #28 "@param tag"
Hi,
I'm using your tool to document an AngularJS project.
I have this issue: it seems that parameter (@param) loses its advanced properties: if I write this code,
    /**
         * @memberof odataQueryServiceFactory
         * @description Genera l'opzione di ordinamento di una query
         * @param {string} ordersby - Elenco criteri di ordinamento da applicare
         * @param {string} filter

[2015-08-28 18:40] allenhwkim commented on #28
could you add .js file here, so that I can regenerate document?

[2015-08-29 18:41] allenhwkim commented on #28
added sample .js and resolved multiple param types with the release of 1.1.5

[2015-08-29 19:42] DavideVar commented on #28
I'm sorry but I haven't got it with me at the moment, since it is at my
office and now I am at home. I will be at the office on monday and I will
send it to you.
Regards
Davide Varini
Il 28/ago/2015 08:41 PM, "Allen Kim" <notifications@github.com> ha scritto:

[2015-08-31 08:49] DavideVar commented on #28
Hi Allen,

I attach you a file with some code snippets (and the resulting
documentation) with the following features regarding parameters:
- type as {type1|type2|type3} -> output=type a (method: getQueryResourceKey)
- parameter1, parameter1.a, parameter1.b -> output=3 parameters (even in
the method definition, where I have 1 only param) (method: getQueryOptions)
- Array: @param {string[}} -> outpu

[2015-09-08 22:04] DaClan008 opened #30 "Question: how do I get relative paths to show instead of full paths"
I am currently using "Or, With Gulp" option almost verbatim as per your example.  However if I click on the source button.  I see the full path of the file.  i.e. c:\ .....\folder\file.js.  Is it possible to use relative paths i.e. only \folder\file\js?

[2015-09-09 00:21] allenhwkim commented on #30
As you see in the generated document, it does not use absolute path for `href` attribute.
https://github.com/allenhwkim/angular-jsdoc/blob/master/default/docs/ngmap.MapController.html#L42

`        <a class="name-link signature-attributes" href="source/ngmap.MapController.html#line4">source</a>`

This is the working example, and check the html source code.
https://rawgit.com/allenhwkim/angular-jsd

[2015-09-09 07:12] DaClan008 commented on #30
wow... thanks for the quick response.  And I think I did not ask the question correctly.  My problem is not with the href part, but the part that shows up as header when you navigate to the source.  i.e. This header:
![ang](https://cloud.githubusercontent.com/assets/8425436/9755393/fe648f4e-56d1-11e5-8208-8a73d52713c2.png)
On my system this header would show up as-> Source:C: \ ..... folder\map-co

[2015-09-09 07:14] DaClan008 commented on #30
Sorry... I clicked the wrong button... it's not closed -> not sure how to remove that now :(

[2015-09-09 16:32] allenhwkim commented on #30
Interesting, is it a Windows thing? Could you try to use relative path for your command, or add you gulp task here, so that I can see it. I do not have windows, so I may need other's help.

[2015-09-09 23:33] DaClan008 commented on #30
Well I do run it from windows... but not sure if that is the problem?  I thought there was only an option to set which path variable to use.  Here is my gulp extract:

    gulp.task('docs2', shell.task([
        'jsdoc '+
        '-c xDoc/conf.json ' +                                      // config file
        '-t node_modules/angular-jsdoc/angular-template ' +         // template
        '-d doc

[2015-09-10 02:18] allenhwkim commented on #30
Patch has been implemented and released as version 1.1.6

[2015-09-10 10:54] DaClan008 commented on #30
Hi Allen.  That definitely solved the issue.  Thank you!!! I will mark this issue as closed.

[2015-09-10 10:54] #30 closed

[2015-09-11 14:14] ss-bb opened #31 "can't doc the sample-codes dir nor little project."
Hi.

Maybe it's me, but i can't run the doc on my real project (nor on the "sample-code directory") using a fresh install of ubuntu 14, node & npm,

using node or command line. All appear to be good in the console, but NO directory/file are create (on a very basic project).
using gulp (with all depency) on the sample-code dir with the given gulpfile render : "Task 'default' is not in your gulpfile

[2015-09-11 17:23] allenhwkim commented on #31
`npm test` runs fine?

[2015-09-15 08:00] ss-bb commented on #31
Hi.
Thank a lot, it's OK now.
My bad thank to `npm test` : I forgot to add js-template & angular-template in my node_module.

[2015-09-15 08:00] #31 closed

[2015-09-28 00:23] allenhwkim commented on #28
I am pretty sure this issue is resolved with new release.
If the issue continues, please create a new ticket with your source code attached.

[2015-09-28 00:23] #28 closed

[2015-10-30 21:03] dkromp opened #34 "@memberof function"
Hi,
I have a controller with a function that has a function within the controller. How is this best documented?

[2015-10-30 23:07] allenhwkim commented on #34
could you provide an example?

[2015-10-30 23:36] dkromp commented on #34
How should I best document bar function:

var myApp = angular.module('myApp',[]);

myApp.controller('GreetingController', ['$scope', function($scope) {
  function foo(){
    bar();
     function bar(){}
}
}]);

[2015-11-02 15:52] allenhwkim commented on #34
You can do like this, http://stackoverflow.com/questions/19230971/how-do-i-jsdoc-a-nested-objects-methods

However, I recommend to keep the whole structure as flat as possible for a class. For your case, bar function can be defined outside of foo() function. IMO,  It is not a good practice to make nested properties and nested functions.

[code]

[2015-11-02 15:57] dkromp opened #35 "@returns not formatting well in default template"
I like how the @params tag formats to a table. How can I have the @returns tag produce the same formatted result?

![capture](https://cloud.githubusercontent.com/assets/12497334/10886462/28421144-8150-11e5-8497-8f6619431aaa.JPG)

[2015-11-02 16:07] dkromp commented on #34
Good advice. thx!

[2015-11-03 19:37] yodiman opened #36 "Tutorials support"
Jsdoc has [tutorials](http://usejsdoc.org/about-tutorials.html) functionality, but angular-jsdoc has not. It would be nice if this functionality has been added.

[2015-11-13 03:45] #34 closed

[2015-11-13 03:58] allenhwkim commented on #35
This has been implemented with 1.2.2 with angular-template.

[2015-11-13 03:58] #35 closed

[2015-11-13 19:40] KevinDennyII opened #37 "Missing index.html"
After running 'node node_modules/jsdoc/jsdoc.js -c node_modules/angular-jsdoc/common/conf.json', we were able to properly produce our html jsdocs except for the index.html.

Any possible idea of what could be causing this issues?

[2015-11-13 19:48] allenhwkim commented on #37
Do you have README.md?

[2015-11-13 19:50] KevinDennyII commented on #37
Yes

[2015-11-13 20:53] allenhwkim commented on #37
As you see here,
`node_modules/jsdoc/jsdoc.js --configure common/test_conf.json --template angular-template --destination angular-template/docs --readme sample-codes/README.md --recurse sample-codes`

This --readme has to be there to make index.html
` --readme sample-codes/README.md`

[2015-11-16 14:46] KevinDennyII commented on #37
Oh ok.  Thank for clarifying that.  I am a bit new to this stuff.

[2015-11-16 15:17] #37 closed

[2015-11-16 15:22] KevinDennyII commented on #37
So i doubled checked and yes, the readme file actually was already there as I did do the changes as stated in the instructions....

[2015-11-17 11:39] darkmavis1980 commented on #36
+1
I have the same issue, and I had an older version and it was working before.
That's what I get now

![screen shot 2015-11-17 at 11 38 45 a m](https://cloud.githubusercontent.com/assets/2980681/11210390/c7c2bd2e-8d1f-11e5-8c61-a633b57b5c81.png)

[2015-11-18 05:03] allenhwkim commented on #36
Added tutorial feature with 1.3.0 release with angular-template

[2015-11-18 09:26] darkmavis1980 commented on #36
It would be possible to have it on the default template as well? The angular-template doesn't really work for my project

[2015-11-18 15:48] gianx89 opened #38 "Object property - Angular Template"
Hi, I want to comment o property of an object using angular template, see code below:

[code]

But I can't find any trace of the property in the generated docs. Can someone help me?

[2015-11-18 22:02] allenhwkim commented on #38
Please add `@memberof`

[2015-11-18 22:17] gianx89 commented on #38
I have that code inside a factory. I should use @memberof and? The name of the function?

[2015-11-19 00:40] allenhwkim commented on #38
@memberof Class name, not function name

[2015-11-19 00:51] allenhwkim commented on #38
You can see example code in sample-codes/app/test-service.js

[2015-11-19 02:25] allenhwkim commented on #36
version 1.3.1, tutorials are added for default template.

[2015-11-19 09:33] darkmavis1980 commented on #36
@allenhwkim thanks!

[2015-11-20 16:51] darkmavis1980 commented on #36
Just tried, but still the tutorial links are not working

[2015-11-20 18:01] allenhwkim commented on #36
This is what I have tested.

Input
https://github.com/allenhwkim/angular-jsdoc/blob/master/sample-codes/app/custom-currency.js\

Output
https://rawgit.com/allenhwkim/angular-jsdoc/master/default/docs/app.customCurrency.html

[2015-12-01 17:17] dkromp opened #39 "How do you document a module's config function?"
How do you document a module's config function?

    /**
      * Controls header
      * @memberof app.header
      * @ngdoc config      <---- not available in ngdoc
      */

[2015-12-02 02:38] allenhwkim commented on #39
I don't know, I need to see your code in your file. There are sample-codes that you can take a look at
https://github.com/allenhwkim/angular-jsdoc/tree/master/sample-codes

[2015-12-03 03:44] dkromp commented on #39
Here you are:

    (function () {
        'use strict';

        angular
	    .module('app')
	    .config(stateConfig)

       /**
        * Configures ui-router's states.
        * @memberof app
        * @ngdoc config
        * @name config
        * @param {Service} $urlRouterProvider Watches $location and provides interface to default state
        */

        function stateConfig($urlRouterPr

[2015-12-03 04:28] allenhwkim commented on #39
I added your code into sample-codes/app/config.js and generated the documentation, and I see like this.

![image](https://cloud.githubusercontent.com/assets/1437734/11551939/337d55f0-994c-11e5-90b9-874d980e95a8.png)

[2015-12-03 15:10] dkromp commented on #39
perfect - i think i was under /overthinking things =P.

[2015-12-03 15:10] #39 closed

[2015-12-10 15:28] dkromp opened #40 "Correction to gulp task"
replace 'node_modules/jsdoc/jsdoc.js' with 'jsdoc'

    var shell = require('gulp-shell');
    gulp.task('docs', shell.task([
      'jsdoc '+
        '-c node_modules/angular-jsdoc/common/conf.json '+   // config file
        '-t node_modules/angular-jsdoc/angular-template '+   // template file
        '-d build/docs '+                           // output directory
        './README.md ' +

[2015-12-10 16:13] allenhwkim commented on #36
closing. Please reopen this if not resolved

[2015-12-10 16:13] #36 closed

[2015-12-10 18:25] dkromp opened #41 "angular-template ul nav groups expand every time you change pages"
Using the angular-template that comes with angalar-jsdoc, the ul nav groups expand every time you change pages. This makes for a very distracting user experience. Let me know if you have a quick fix.

[2015-12-10 22:56] allenhwkim commented on #41
I don't understand the issue. Each page is a separate page and reload every single time when you cash age pages. An example would be helpful to understand your issue.

[2015-12-11 13:53] dkromp commented on #41
1. With angular-template, click a header for any of the nav links on the right side of the page.
    1a. The selected header will hide nested content and display icon next to text indicating children links are hidden.
2. From nav, select a non-header link.
    2a. A new page will load for the selected link, and the nav will show ALL links.  <-- the nav should not change to show all nested children

[2015-12-11 14:36] allenhwkim commented on #41
Thanks I will take a look at it. There might be a bug in it

[2015-12-15 11:24] SirRagnar opened #43 "Example of good documented filter in sample-codes"
I'm trying to document a filter but I can't figure out the right way to do it.

The filter i'm trying to document is something like this:
[code]

The output doc shows the params under "Dependencies" title. I assume that this because @params are understood as dependencies of the filter service. Then how do I document the function filter itself?

If you could provide an example of a good documented

[2015-12-15 11:32] SirRagnar commented on #43
Sorry, I was reading examples here: https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/docs/index.html and didn't notice that the example i was looking for were clearly displayed in the main README with the [custom-currency filter](https://github.com/allenhwkim/angular-jsdoc/blob/master/sample-codes/app/custom-currency.js)

[2015-12-15 11:32] #43 closed

[2015-12-16 00:09] coryasilva opened #44 "Factory/service properties (how to)"
Hello, I am having trouble documenting some mutable properties on a service.

In the example below how would I document `obj` and `bool`.  I am a little new to jsdocs but and I have tried using `@member`, `@memberof!`, and `@property` to no avail.

    /**
     * @memberof app
     * @ngdoc service
     * @name appService
     * @param {service} $http A core Angular service that facilitates commun

[2015-12-16 08:28] Siqu commented on #44
Inside of my code is use following syntax:

e.g. for obj
[code]

It will render following html:

<div class="members">
  <h3 class="subsection-title">Members</h3>
  <dl>
    <dt>
      <a href="#" class="name-link">
        <h4 class="name">obj</h4>
      </a>
    </dt>
    <dd>
       <div class="description"><p>Provide a description was the property does.</p></div>
    </dd>
  </dl>
</div>

Curr

[2015-12-16 13:38] allenhwkim commented on #44
1.3.2 is updated with this change. Please checkout the sample codes, especially testService.

[2015-12-18 18:08] coryasilva commented on #44
Awesome, thank you guys!

[2015-12-18 18:08] #44 closed

[2015-12-22 20:53] Mic75 opened #45 "Hidden main title on index.html"
Hi,

First of all, thanks for angular-jsdoc, it makes doc generation for angular much more easy.
I have noticed this small issue:

With the new suggested template `node_modules/angular-jsdoc/default`,  the main title of the index page get colored in white. Problem is that the background is white too, making the text invisible.

![title_issue](https://cloud.githubusercontent.com/assets/1568791/1196

[2015-12-23 04:08] allenhwkim commented on #45
Thanks for reporting this. it's fixed with v1.3.3

[2015-12-23 04:08] #45 closed

[2015-12-23 20:21] kfirzuberi opened #46 "@ngdoc event"
In the default template file 'class.html' there is no events list.

[2015-12-26 03:00] allenhwkim commented on #46
I do not understand this requirement. Please be specific.

[2015-12-26 03:00] #38 closed

[2015-12-26 03:01] allenhwkim commented on #40
Closing. jsdoc is not always installed in global level.

[2015-12-26 03:01] #40 closed

[2015-12-26 03:03] allenhwkim commented on #41
This is not a but. It was built like this to. We can improve this feature to unflod the document only, and closing all others.

[2015-12-30 08:58] parky128 opened #47 "Problems getting started with gulp shell task"
Hi,

I am having some issues getting started using the gulp shell task as per the examples. I have installed angular-jsdoc and jsdoc locally and am trying the following task configuration:

[code]
This returns me
[code]
I then tried adding node just before the first line of the command:

[code]
And get:
[code]

I am unsure what to try next, can you please assist?

Thanks

[2015-12-30 18:47] shotokai opened #48 "support for different directive scope types"
It would be nice to be able to specify the type of scope that a directive uses (isolate, inherited, shared).  I've forked the project and added this feature.  Are you interested in a PR with this feature?

[2015-12-31 05:34] allenhwkim commented on #48
Sure, PR would be nice with documentation in README.md.  I am very curious how you made this work.

[2016-01-01 03:41] bobisch opened #49 "grunt-jsdoc required for Grunt configuration to work"
It would be really nice if the readme mentioned that:

    $ npm install grunt-jsdoc --save-dev

is also needed if you are using Grunt.  For those of us not completely familiar with all the ins and outs of Grunt.

[2016-01-01 13:20] kfirzuberi commented on #46
Hi!

I meant that there is no any reference to ```@ngdoc event``` tag.

How is solved it?

In the template ```class.html``` file I added:
[code]

[2016-01-01 13:30] kfirzuberi opened #50 "using @tutorial tag."
Hi.
I added some tutorials files to my project.
I also added the ```@tutorial``` tag to my class.

When I running the JSDoc process:
* [X] The tutorials files are copied to the output folder.
* [X] There is a link to the tutorial files in every place that wrote the tag.
* [ ] **When i click on tutorial link, its open the file, but without any template or style..**

![image](https://cloud.githubuse

[2016-01-02 04:32] allenhwkim commented on #47
Please try `sh node node_modules/angular-jsdoc/node_modules/jsdoc/jsdoc.js` or `jsdoc` command in Windows environmnet

[2016-01-02 04:42] allenhwkim commented on #50
You are doing nothing wrong.

The current tutorials are not styled.

https://github.com/allenhwkim/angular-jsdoc/blob/master/angular-template/html/tutorial.html

There is no tutorial tree. Each tutorial is just linked when your tutorial has a tree structure.

https://rawgit.com/allenhwkim/angular-jsdoc/master/angular-template/docs/app.customCurrency.html

Any PR would be welcome regarding this iss

[2016-01-25 13:03] noelmace opened #54 "result page encoding"
All my files are in UTF-8, so I added -e utf8 to jsdoc, but no meta tag is generated in the resulted index.html, like this one :
[code]

Am I missing something ?

[2016-01-25 15:04] noelmace opened #55 "automatically ignore the controller or support @ignore"
Following the Angular2 migration guidelines, I wrote this es6 code :

[code]

For now, angular-jsdoc create a new page for the controller classe, with an undefined module. I tried everything, but nothing seems to work on this element.

[2016-01-30 15:24] allenhwkim commented on #55
I cannot answer this. angular-jsdoc follows JSDoc3 and I don't think JSDoc 3 understands ES6 syntax, AFAIK

[2016-01-31 16:26] noelmace commented on #55
Jsdoc 3 does support ES6 class : http://usejsdoc.org/howto-es2015-classes.html
https://github.com/jsdoc3/jsdoc/issues/555

But, even if my example is in ES6, if you write this with es5 (by simply using function instead of class), the problem is the same.

[2016-02-03 13:38] IgalOre opened #56 "Troubles viewing source"
Hello,

We had upgraded to angular-jsdoc 1.3.3, when realized that few things become broken on attempt to use 'angular-template' template:

* Modules in application using dot to separate name in namespace looking like _wkfsfrc.ui.widgets_ ; generated documentation looking pretty and nice, but all underlying service and directives sources link are wrong.
In name of each service/directive there an #

[2016-02-03 14:05] IgalOre commented on #56
I had modified slightly publish.js of angular-template on line 247:
`    if (doclet.meta) {
      if (doclet.kind == 'class') {
        doclet.sourceUrl = 'source/'+
          encodeURIComponent(sourceCodes[doclet.name].longname)+
          ".html#line"+doclet.meta.lineno;
      } else if ( (doclet.kind == 'function' || doclet.kind == 'member') &&
        sourceCodes[doclet.memberof]) {
        do

[2016-02-08 12:38] earcanal opened #58 "Generate UML from jsdoc"
(angular)js->UML generators appear to be [flaky](http://stackoverflow.com/questions/20664842/jsdoc-uml-diagram).  Could this be done from the jsdoc?

[2016-03-17 16:21] zhaiduo opened #60 "ERROR: Unable to find the plugin "common/plugins/ngdoc""
It works when I copy common to jsdoc in node_modules.

[2016-03-17 16:21] #60 closed

[2016-03-28 14:39] #48 closed

[2016-03-28 14:39] #47 closed

[2016-04-05 12:30] trsrm opened #63 "How to document events?"
How to documments events with cross-links, '@fires', '@listens', etc.?

[2016-04-05 13:50] trsrm opened #64 "Markdown support?"
Is it possible to setup markdown export?

[2016-04-07 08:31] sjclemmy opened #65 "Have to explicitly define membership when inside IIFE, but not if not enclosed in IIFE"
If I declare my service definition in a file thus:

[code]

The method description resolves automatically.

However if I wrap this code in an IIFE:
[code]
The method description for `getFileplanRoot()` disappears unless I add `@memberof fileplanState`

Any thoughts?

[2016-04-07 08:52] sjclemmy commented on #65
So there's a bit of a catch 22 here. NOT wrapping in the IIFE means the function definition is on global scope which is bad, but the methods auto resolve which is good. However if you wrap it in the IIFE the function definition is not in global scope, which is good, but the JsDoc function descriptions do not auto resolve, which is bad.
Further, the only reason not to have the function definitions

[2016-04-07 13:42] sjclemmy opened #66 "How to document methods inside objects"
I have a service that contains a method that returns an object that contains methods:
[code]
How do define a description for `testfunc`?

[2016-04-08 15:23] Zemke commented on #66
You can’t. Actually there’s already a mistake in documenting `obj` as a member of `myService`–it’s not.

There’s a way to do something like that, though.

You can document `obj` explicitly using `@ngdoc type`:

[code]

Depending on what you want to do with `obj`, you could use `app.YourObjectName` as the return type (like `@returns {app.YourObjectName} description blah blah`) of a function or even

[2016-04-10 17:29] Zemke opened #67 "angular-jsdoc v1.4.0"
Could we publish the new release that I submitted for NPM as well as for this Git repo incl. the release notes that I added? Thanks!

[2016-04-10 18:51] allenhwkim commented on #67
@Zemke Thanks for this, published
[code]

[2016-04-10 19:35] Zemke commented on #67
Awesome! Thanks a lot!

I’m on NPM, my name over there is [zemke](https://www.npmjs.com/~zemke).

[2016-04-10 19:35] #67 closed

[2016-04-10 19:53] allenhwkim commented on #67
[code]

[2016-04-13 16:54] markhayton opened #68 "using @property"
This shows up in Members but with no type or description in the table
/**
   * @memberof appController
   * @prop {object} $scope.scheduleData - The current schedule data object
   */

You show in your map-controller this example, but it doesn't seem to generate anything in document output
/**
     * @property {Hash} _objects collection og objects that belongs to this map
     */

I have to do thi

[2016-04-14 16:27] Zemke commented on #68
What are you actually documenting? Could you include the code?

[2016-04-18 15:56] reloaded commented on #63
At this time I have a [partial] fix for this in the template. I can create a pull request and ask the author to pull it in.

For the time being you can create a custom template and modify html/class.html and insert this code (i put this above the "Members" subsection title because it's a copy of the "Members" template code.

[code]

Now the Events template code above works with a doc block like th

[2016-04-18 15:57] reloaded commented on #63
@allenhwkim See the above comment. If I create a pull request this week do you have an ETA on when you could review and merge it?

[2016-04-18 16:46] Zemke commented on #63
Just submit the PR. I’ll review it in case @allenhwkim doesn’t have time.

[2016-04-18 19:46] reloaded commented on #63
@Zemke  Should the change to support @fires, @listens and @event be made to both templates or just the angular-template?

[2016-04-19 03:51] reloaded opened #69 "Error executing test scripts on Windows 8"
I'm getting a rather slim error message while trying to execute test.js on Windows.

[code]

[code]

[2016-04-19 14:48] Zemke commented on #69
It fails [on this line](https://github.com/allenhwkim/angular-jsdoc/blob/master/index.js#L15) when spawning a new child process. A solution might be [this](http://stackoverflow.com/a/17537559). Please report back. If it works, you can gladly submit a PR.

[2016-04-19 19:26] reloaded commented on #69
@Zemke  Your post helped a lot, I used various answers and comments on that StackOverflow article to come up with a solution that is tested to work on Windows.

I will submit a PR.

[2016-04-19 20:26] allenhwkim commented on #63
I have made angular-template for the convenience and I thought it is cool to have html-based template.
However, if no one sees the benefit, I am open to drop it.

@Zemke thanks for your support for this. I really appreciate it.

[2016-04-19 22:05] reloaded commented on #63
@allenhwkim I like the way the angular-template works with the angular-like templating engine. If anything I would say deprecate/drop the "default" template or make the angular-template the "default" and git rid of what is now known as "default". Trying to keep two completely different templates up to date is extra overhead.

I'm in the process of creating a PR to add support for @event, @listens

[2016-04-19 22:10] reloaded commented on #55
I can look into adding support for @ignore @noelmace

[2016-04-19 22:14] reloaded opened #71 "Template and bootstrap?"
It would be beneficial to integrate Bootstrap into the templates to help with style consistencies and provide access to some elegant Bootstrap features.

Anyone have any thoughts on this or oppositions?

[2016-04-20 03:01] reloaded opened #72 "Template URL detection doesn't work correctly"
The template URL matching doesn't work when the template URL is a concatenated string.

[code]

The result of angular-jsdoc trying to parse the template URL above is:
[code]

The problem is in the regular expression used to match the templateUrl string. I think it would be a better fool-proof alternative if a custom doc tag is used, something like @templateUrl/@templateurl.

I was experimenting wi

[2016-04-20 03:43] reloaded opened #73 "@attr support with optional and default value syntax"
Most Angular JS directives have optional parameters with default values. JSDOC3 appears to support this detection so the templates should be updated so the directive "Attributes" table has two additional columns that specify optionality and default values.

[code]

[2016-04-21 16:10] reloaded commented on #69
@Zemke  could you review and merge in my pull request?

[2016-04-21 20:29] Zemke commented on #69
Perfect! 👍

I tested this on OS X and it worked. So, now that it works in Unix and Windows environment, we should have a cross-platform solution. Thank you and also thanks for fixing the white-spaces!

[2016-04-21 20:29] #69 closed

[2016-04-21 20:40] Zemke commented on #73
This has been introduced with [1.4.0](https://github.com/allenhwkim/angular-jsdoc/releases/tag/v1.4.0).

Example:

[code]

![screen shot 2016-04-21 at 10 32 01 pm](https://cloud.githubusercontent.com/assets/3391981/14723382/1f54013a-0811-11e6-9926-d021b05cdfc7.png)

[2016-04-21 20:40] #73 closed

[2016-04-21 20:43] Zemke commented on #71
Hmm… I think this might be oversized for just generating documentation. Bootstrap is quite big for this purpose.

[2016-04-21 20:50] Zemke commented on #72
Is this actually part of the ngDoc specification? I don’t think an `@templateUrl` tag exists and we shouldn’t invent our own custom tags.

How did you actually come about this? As far as I know template definitions of directives are not rendered into the documentation pages.

[2016-04-21 21:31] Zemke commented on #68
Please reopen when you have further information.

[2016-04-21 21:31] #68 closed

[2016-04-21 21:32] Zemke commented on #64
Yes, it is.

[2016-04-21 21:32] #64 closed

[2016-04-21 21:32] #66 closed

[2016-04-21 21:37] Zemke commented on #65
This is an interesting observation, @sjclemmy.

So, you’re saying that `@memberof` is obsolete when not wrapping in the IIFE, but it’s required when it’s wrapped in the IIFE?

If that’s the case, that would be worth the effort of fixing, since it saves the hassle of adding `@memberof`s.

[2016-04-21 21:39] Zemke commented on #46
Will be continued in #63.

[2016-04-21 21:39] #46 closed

[2016-04-21 21:40] Zemke commented on #58
There could be possibilities, yeah. We’re focusing on textual documentation, though.

[2016-04-21 21:40] #58 closed

[2016-04-21 21:47] Zemke commented on #56
This might have been fixed with [1.4.0](https://github.com/allenhwkim/angular-jsdoc/releases/tag/v1.4.0). If not, please reopen.

[2016-04-21 21:47] #56 closed

[2016-04-21 21:53] Zemke commented on #54
The `-e` switch works for JSDoc but is not supported here.

[2016-04-21 21:53] #54 closed

[2016-04-21 21:56] Zemke commented on #49
Here you go. bb2d0d2

[2016-04-21 21:56] #49 closed

[2016-04-21 23:42] reloaded commented on #72
The @templateUrl would be a custom doc tag used by angular-jsdoc to correctly locate the template URL. It may even be worth proposing to the Angular team to make that tag an official ngdoc tag.

I don't think there is anything wrong with angular-jsdoc defining it's own custom tags to achieve documentation functionality that is not provided by JSDOC2/3 and ngdoc out of the box. That's why JSDOC is

[2016-04-21 23:47] reloaded commented on #71
You could always select the minimum bootstrap components that are needed. Nothing wrong with leaving out the 70% of bootstrap that will never be used.

I will like to customize the overall theme of the documentation without straying away from the official default template provided in angular-jsdoc because if a doc tag support update is released I have to update my copy of the template to leverage

[2016-04-21 23:48] Zemke commented on #72
I don’t see a point in adding the path pointing to the template file to the documentation. What does it actually contribute to the documentation of the directive?
I think there’s a point in not having a tag for that.

[2016-04-21 23:50] reloaded commented on #65
That would explain why I have to put @memberof for all of my doc blocks. I wonder if this is a bug or limitation with jsdoc itself?

[2016-04-21 23:50] reloaded commented on #63
@Zemke  I already have a branch that adds this functionality. I will create a PR for this today.

[2016-04-21 23:57] reloaded commented on #72
The reason for a custom @templateUrl tag is to tell angular-jsdoc where it can locate (on the file system) the HTML template file.

If you look at the sample code below you will see that the templateUrl string is on one line.
https://github.com/allenhwkim/angular-jsdoc/blob/master/sample-codes/ngmap/map.js#L64

If you break that string to multiple lines using concatenation angular-jsdoc will no lo

[2016-04-21 23:58] reloaded commented on #72
The custom tag using the sample code file above would be:
[code]

[2016-04-22 00:06] reloaded commented on #73
@Zemke I did notice that adding [x] and [x=string] did "work" in the sense that the attribute name was outputed to the "name" column.

However, this issue (lack of details on my part) was meant to be an enhancement request to provide two additional columns and one change to the table.

The additional columns would be:
Required

- Required: The possible column values would be Yes or No
- Default: T

[2016-04-22 00:14] reloaded commented on #66
According to JSDOC3 @memberof this should definitely be possible.

Quoting their @memberof basic example:
[code]

Also you should be able to achieve this with the use of the @alias and @memberof!  (notice the exclamation point at the end of memberof).

http://usejsdoc.org/tags-memberof.html

[2016-04-22 00:24] reloaded commented on #72
Here's a real example of the problem I have run into.

![image](https://cloud.githubusercontent.com/assets/1775239/14727983/8fc5c006-07e5-11e6-92c2-74e253650916.png)

My directive template consists of a JS variable concatenated with a string that contains the HTML file name. angular-jsdoc can't parse the content of my JS variable which is named `baseTemplateUrl` so the angular-jsdoc thinks my temp

[2016-04-22 00:30] allenhwkim commented on #71
It's good to have bootstrap CSS supported, but not officially though.

 I would like to have a separate full template PR from who is interested in maintaining a botstrap template.

In that case I would like to use CDN CSS instead of internal one.

[2016-04-22 00:36] allenhwkim commented on #73
I do not have official plan to support extra column do the table. Please use description for that purpose; optional/required

[2016-04-22 01:27] reloaded commented on #73
Are you open to accepting a PR for this, assuming it's not on your road map due to time constraints?

[2016-04-22 01:58] allenhwkim commented on #73
I want to keep all table to have the same structure; name, type, and description, unless provided a good reason to make an exception.

[2016-04-22 03:18] reloaded opened #76 "Integrating gulp for development of angular-jsdoc sources"
It would be great if angular-jsdoc can integrate its own Gulpfile.

The Gulpfile should at minimum provide the following tasks.

- analysis: Run JSHint and JSCS (JS Code Style) and fail if either of those throw warnings or errors.
- docs: Delete the angular-template/docs and default/docs and regenerate them from sample-codes.

[2016-04-22 03:36] reloaded commented on #65
@Zemke  @sjclemmy  I discovered what's going on.

@sjclemmy  Replace `@name fileplanState` with `@name fileplanState` and everything will work just fine in the IIFE.

According to the `@name` JSDOC3 docs:

[2016-04-22 04:01] reloaded commented on #76
Whoops! I just noticed that there is already a Gulpfile present! It doesn't have any helpful developr tasks other than incrementing the version number.

Would you be open to a PR that adds additional tasks and gulp plugin integrations? Ie JSHint and JSCS?

[2016-04-22 08:56] sjclemmy commented on #65
@reloaded good find! That makes everything a lot better. The private properties now automatically resolve as Members. Thanks.

[2016-04-22 08:56] #65 closed

[2016-04-22 21:34] reloaded opened #78 "Private members are not documented."
If a member is marked as `@private` the generated documentation does not indicate that the member is private.

[code]

![image](https://cloud.githubusercontent.com/assets/1775239/14755468/5734b7da-0897-11e6-8136-437d3891c271.png)

[2016-04-23 14:46] allenhwkim commented on #76
I intentionally did not add a gulp file for simplcity since npm command can handle it all. npm has very extensive support for these command. e.g., npm start, npm publish, npm test, etc. I found this article useful. http://blog.keithcirkel.co.uk/how-to-use-npm-as-a-build-tool.

TLDR; getting away from grunt/gulp, and getting back into npm.

[2016-04-23 20:49] Zemke commented on #72
Thanks for the elaboration. I get what you mean. I’ve just noticed that directive templates were part of the generated documentation. I’ve actually never noticed that there’s this template link and the template source was shown there. 🙃

Well, I wouldn’t mind adding this, but we’d be breaking existing functionality. Maybe can we find  a backward-compatible solution?

[2016-04-23 20:52] Zemke commented on #66
Okay, I assumed it was of importance to keep it in the object definition and not use dot notation.

[2016-04-24 05:03] reloaded commented on #72
@Zemke We don't have to break the current implementation at this time. The backward compatibility style would be:

1) Look for @templateUrl in the directive doc block and use it if it's there.
2) If it's not there, and if the regex match is true (meaning the directive has the templateUrl object property) console.log a "deprecated" notice and use the regex extracted value.
3) In the next major vers

[2016-04-24 06:48] reloaded opened #79 "No support for @typedef / @callback?"
Appears there's no support for using the `@typedef`and `@callback` (I think internally `@callback` piggybacks off `@typedef`. http://usejsdoc.org/tags-callback.html

[code]

The result of the directive documentation page is below.

![image](https://cloud.githubusercontent.com/assets/1775239/14765930/d9582880-09ac-11e6-94ed-878a4072080f.png)

It looks accurate at first glance, but when you click on

[2016-04-24 11:12] allenhwkim commented on #79
No, I haven't implemented @callback and @typedef into html yet. PR would be appreciated.

[2016-04-24 11:41] allenhwkim commented on #72
It was my mistake to read the source code to generate document especially for the template.

https://github.com/allenhwkim/angular-jsdoc/blob/0551a993146657d0f40f658e9160f5971de3eb45/angular-template/publish.js#L214

The benefit of a templateUrl is that we can read template from the generated documentation.

I thought it was convenient to read the template of a directive from source code rather th

[2016-04-24 11:44] allenhwkim commented on #41
I will close this. If more request are made about this feature, I will consider implementing this feature.

[2016-04-24 11:44] #41 closed

[2016-04-24 11:55] allenhwkim commented on #78
Thanks @reloaded

According to this, http://usejsdoc.org/tags-private.html, private members should not be documented in default

[code]

[2016-04-24 16:44] reloaded commented on #78
@allenhwkim  If that's the case then as you can see from the screenshot in my post we are indeed generating output for private members. That should be updated so private members are not generated in the HTML.

[2016-04-24 17:02] Zemke commented on #79
In what ways is `@typedef` different from `@ngdoc type`?

[2016-04-24 17:07] reloaded commented on #79
@Zemke  http://usejsdoc.org/tags-typedef.html

@ngdoc and @typedef have different purposes. One is to classify a docblock as a directive/controller/module/filter and one is to create virtual custom types.

[2016-04-24 17:13] Zemke commented on #79
There’s a value of `type` for `@ngdoc` like you’d use `@ngdoc directive`, you can use `@ngdoc type` which is supported by angular-jsdoc and which also meets your definition of `@typedef` and also the one of JSDoc:

I use `@ngdoc type` heavily in one of my projects and we’ve used `@typedef` before.

[2016-04-26 19:04] reloaded commented on #79
I understand that @ngdoc provides a custom "type" value, but considering that angular-jsdoc is built off of JSDOC we should support the JSDOC tags.

[2016-04-26 19:24] reloaded opened #80 "New release date?"
When will there be a new release pushed to the NPM ecosystem with the latest PRs?

[2016-04-26 19:39] Zemke commented on #80
The latest PRs haven’t even been merged yet. Let’s finish #77. Once it’s finished you need to update your PRs to affect the new template `simple-searchable` and then we can have a new release. :)

I’m happy we have a new major release after I had put the effort in for 1.4.0. Thanks for your effort and for yours, @allenhwkim.

[2016-04-26 19:58] Zemke commented on #79
Well, ngDoc is a flavor of JSDoc, so that’s actually not a “choice” as such.

But back to my question: What are the differences gof `@ngdoc type` and `@typedef`? I’m just wondering how we’d separate them in the generated documentation. I don’t see a feasible way of a co-exsitence of them.

[2016-04-27 00:31] reloaded commented on #79
I can not find any documentation on `@ngdoc type`. Can you link me to documentation where the Angular team has explained the usage of `@ngdoc type`.

https://github.com/angular/angular.js/wiki/Writing-AngularJS-Documentation#the-ngdoc-directive

[2016-04-27 18:30] Zemke commented on #79
Actually I can’t. Resources seem very rare on that. An example would look like this.

[code]

[2016-04-27 19:52] reloaded commented on #79
My opinion is if angular-jsdoc  is based off of jsdoc then all jsdoc tags should be supported to provide maximum flexibility to the users.

Jsdoc typedef has documentation supporting it's usage.

ngdoc type doesn't

[2016-04-28 00:42] allenhwkim commented on #80
I really appreciate @Zemke and @reloaded for the all the hard work. I can't say enough thanks for it.

[2016-04-28 19:56] reloaded opened #81 "Template publish() needs to be optimized"
The publish() method needs to be refactored and optimized. There are 5 separate loops in the publish() method 3 of which are iterating the same list of objects ("classes") and one iterating a list of all doclets.

My Angular project is still small and it takes 3 seconds to generate my documentation from less than 50 files.

[2016-05-05 02:38] zxuwen commented on #80
Sorry for the delay, https://github.com/allenhwkim/angular-jsdoc/pull/82

[2016-05-07 21:04] yarkovaleksei opened #83 "Not work on Windows 7"
App crashed with error:

[code]

[2016-05-08 19:48] Zemke commented on #83
Was this run as a Gulp task? If so, could you please add the task definition in your `gulpfile`?

[2016-05-08 20:14] Zemke commented on #80
Thanks, @zxuwen! #82 has been merged.

@reloaded, would you mind touching your PRs again and apply them to the new template? Thanks!

- [ ] #74
- [ ] #75

Once that’s done, I’ll publish a new release.

[2016-05-08 21:37] Zemke commented on #80
Promising the following release notes for a version **1.5.0**:

- #82 Redesign of `angular-template` template while removing all other templates (see preview blow)
- #55 Add support for `@ignore`
- #74 Add support for `@event`, `@listens`, `@fires`
- #69 Fix a bug on Windows where `spawn()` would fail

![Template redesign preview](https://cloud.githubusercontent.com/assets/745921/15034827/922e7f8c

[2016-05-08 23:53] yarkovaleksei commented on #83
Gulp task in file **./gulp/gulp-tasks/docs.js**
[code]

This is defined 'docs' task:
[code]

[2016-05-09 02:08] allenhwkim commented on #80
@Zemke it looks good to me. You don't have to propose it. I want the new release handled by you.

[2016-05-09 02:13] allenhwkim commented on #83
these path does not looks like windows path for me `node_modules/angular-jsdoc/common/conf.json`.
Shouldnt' it be `node_modules\angular-jsdoc\common\conf.json` instead?

If you want it for both system, please use `path.join` instead of using specifying directly.

e.g., path.jon('node_modules', 'angular-jsdoc', 'common', 'conf.json')

[2016-05-09 06:59] yarkovaleksei commented on #83
Use path.join:
[code]

Now when task run the file open  **node_modules/jsdoc/jsdoc.js** in the default editor .

[2016-05-09 23:09] allenhwkim commented on #83
Still you see error?

[2016-05-10 06:28] yarkovaleksei commented on #83
No, there is no error is now. Just file **node_modules/jsdoc/jsdoc.js** it is not satisfied, and opens in the editor. On Linux you are running.

[2016-05-11 06:04] jsbimra opened #84 "Why type 'service' and 'MapController' fails to load on below url?"
[https://rawgit.com/allenhwkim/angular-jsdoc/master/angular-template/docs/ngmap.map.html](url)

[2016-05-11 09:28] Zemke commented on #84
The `service` type does simply not exist. You could create the service type like so:

[code]

It would then correctly link to the documentation of the type `service`.

As for `MapController`, it does exist, but it’s not correctly linked to. `MapController` exists in the `ngmap` module, the current documentation assumes it’s not in a deeper module structure. You’d need to prepend the module name li

[2016-05-11 10:02] jsbimra commented on #84
do I need to put `service` type code ? in separate file of same file were we define the `doc` for controller?

[2016-05-11 10:02] Zemke commented on #84
You can put it anywhere.

[2016-05-11 10:03] jsbimra commented on #84
ok thanks.

[2016-05-11 10:12] #84 closed

[2016-05-18 14:43] JonathanRowley opened #85 "Controller properties not being displayed in generated docs"
In the example files for documenting a controller:
[code]
but the output.js file doesn't contain this property.

Any advice for documenting controller properties or/and why the example doesn't work?

[2016-05-18 14:52] JonathanRowley commented on #83
if you change the above to:
[code]

(basically just prepend the script directory with 'node', it should run fine on windows and mac. Not tested Linux)

[2016-05-18 21:25] Zemke commented on #85
Could you please provide the whole code of the controller?

[2016-05-18 22:09] reloaded commented on #85
If you used `@name` for the parent docblock it will ignore all nested docblocks. Post your objects docblock.

[2016-05-19 08:10] JonathanRowley commented on #85
@Zemke @reloaded this is the case on your example controller: https://github.com/allenhwkim/angular-jsdoc#example

[2016-05-23 10:33] ticktockreed opened #86 "angular-template error in compilation"
A recent update has introduced the following error on compilation.

The error:

Warning: jsdoc terminated with a non-zero exit code Use --force to continue.

**My Grunt task:**

        // Create Javascript documentation
        jsdoc : {
            dist : {
                src: ['app/views/*/*.js','app/directives/*/*.js','app/services/*/*.js'],
                options: {
                    dest

[2016-05-25 09:22] plwade opened #87 "'Type' column is empty"
Controller parameter Type is always empty.
I have attached a screenshot and controller code.

Any help appreciated.
[jsDocTest.controller.txt](https://github.com/allenhwkim/angular-jsdoc/files/281422/jsDocTest.controller.txt)
![capture](https://cloud.githubusercontent.com/assets/3742666/15534792/9a75277a-2262-11e6-8e46-7a9a451c2c64.PNG)

[2016-05-25 09:44] molikmiah commented on #87
I am having the same issue, i have also tried to use @type and adding the {type} before and after the variable/object name with no success.

Even if i copy the code in the example controller it doesn't include type. Could this be an issue with the JSDoc version?

[2016-05-25 20:27] Zemke commented on #87
Type has to be first before the param name.

@molikmiah, Could you please provide example code?

[2016-05-26 18:44] plwade commented on #87
The example code does not put the Type before the name https://github.com/allenhwkim/angular-jsdoc/blob/master/sample-codes/ngmap/map-controller.js

[https://avatars0.githubusercontent.com/u/1437734?v=3&s=400]<https://github.com/allenhwkim/angular-jsdoc/blob/master/sample-codes/ngmap/map-controller.js>

allenhwkim/angular-jsdoc<https://github.com/allenhwkim/angular-jsdoc/blob/master/sample-codes/n

[2016-05-30 12:40] djleonskennedy opened #88 "angular 1.5"
Will support be available for angular 1.5?

Unfortunately, Components cannot be documented

Any workarounds?

[2016-05-30 12:42] AndriiDidkivsky commented on #88
I have same issue.

[2016-06-02 16:56] ticktockreed commented on #86
Thanks for taking the time to look at this @FDIM. I have implemented the fix and it works! Great :). When will you deploy to NPM?

[2016-06-02 17:11] FDIM commented on #86
Unfortunately I do not have access to this repo, you'll have to wait for @allenhwkim :)

[2016-06-04 11:30] allenhwkim commented on #86
@FDIM, you are already a co-owner of this repo.
![image](https://cloud.githubusercontent.com/assets/1437734/15799306/41bec1c4-2a26-11e6-9ccb-3b31d541362f.png)

[2016-06-04 16:13] FDIM commented on #86
True, but the bugfix is in jsdoc :)

[2016-06-04 18:29] allenhwkim commented on #86
@FDIM true, sorry about that. 1.4.2 has been published

[2016-06-15 07:52] TeHMoroS commented on #85
It will work if you add  the "@memberof" annotation like so:
[code]
The example seems to be missing it and that's basically it.

I've been documenting a quite complex AnguarJS/NodeJS/Browserify project for the last few days and any visibility problems went away when I realized that I need to add a proper "@memberof" to every entry, for example:

[code]
for top level entries

[code]
for entries nes

[2016-06-16 08:14] maffelbaffel opened #92 "templatePathPrefix to directive template Url"
I'm currently developing a JavaEE based project with angular frontend. All my frontend stuff (js html css) is under src/main/resources. Now i am trying to document one of directives which looks like this:
[code]

The problem is now, jsdoc (or angular-jsdoc ;) ) does not find the MyDirectiveTemplate.html because it is not found under `app/mydirective/MyDirectiveTemplate.html` but `src/main/resource

[2016-06-21 14:37] Zemke commented on #92
#72

[2016-06-28 20:55] schmod commented on #81
#93 may have solved this.

[2016-07-12 07:25] hegdeashwin opened #95 "Files does not gets generated"
I am using Node.js v4.2.5 and npm v2.14.12, jsdoc v3.4.0 and angular-jsdoc v1.4.2

Below is my package.json file

[code]
When I try to execute ```npm run jsdoc``` below things happen:
1. Console returns no error or warning
2. Default directories like css, js, source, templates, tutorials are created with empty.

I have specified jsdoc comments E.g.

[code]
but nothing happens

[2016-07-15 14:54] randycasburn commented on #95
+1

[2016-07-15 15:41] schmod commented on #95
This really sounds like a bug -- we should tolerate an empty README.

[2016-08-22 08:52] grtjn opened #96 "JSDoc version in generated files not dynamic"
Minor issue. I am using JSDoc 3.4.0, but the generated html files state JSDoc 3.3.2. I'd expect JSDoc has placeholders for inserting its version number, and current date.

[2016-08-31 12:27] lcaprini opened #97 "$rootScope in @name create duplicate members"
Hi, first of all thank you for your awesome plugin!
I'm trying to add your specific tags in my jsDoc documentation, but I have a strange behaviour.

If I use `$rootScope` in `@name` tag before AngularJS run function, jsDoc automatically add all members founded in all source.

[code]

This is awesome and useful, but if there is a redefinition of a member in one of the source files jsDoc duplicate i

[2016-08-31 22:40] reloaded commented on #97
Can you post more code, specifically the code that you expect to not be redefined?

[2016-08-31 22:41] reloaded commented on #95
Agreed.

[2016-09-02 07:12] lcaprini commented on #97
As you can see in my module run I have `$rootScope.memberA = false` and `$rootScope.memberB = {}`. After using jsdoc in my documentation page appears a Globals section with $rootScope item; inside this I have a the Members table with two rows:

| name | type | description |
|---|---|---|
|memberA| | |
|memberB| | |

So, jsodc automatically detect `memberA` and `memberB` as `@memberof` `$rootScope`

[2016-09-02 09:25] reloaded commented on #97
Try to replace @name $rootscope with @alias $rootscope instead.

[2016-09-02 09:36] lcaprini commented on #97
If I replace **@name** with **@alias** the item $rootScope disappear from Globals section.

[2016-09-14 21:06] matteovinci opened #98 "@see external links always have .html appended"
The jsDoc @see annotation allow also external urls. The generator always appends .html at the end of @links.
Even if the user can actually add a new template and overriding the class.html file the default template (angular-template) should be in compliance with the jsDoc reference

[2016-09-16 10:37] bmsdave opened #100 "jsdoc 3.3.2 is deprecated"
Hi! I find bug in dependensies:

[code]

[2016-09-16 10:50] bmsdave commented on #100
"npm install angular-jsdoc@1.4.1" - is fine.
but "npm install angular-jsdoc@1.4.2" - is bad

[2016-09-22 19:24] schmod commented on #100
Closed by 883a98a.

Will be fixed in next release.

[2016-09-22 19:24] #100 closed

[2016-09-26 19:52] schmod opened #102 "make a release"
Can we publish a release to npm that includes fixes made since the last release?

[2016-09-26 20:11] allenhwkim commented on #102
1.5.0 is released

[2016-09-30 11:57] NapkinHD opened #103 "Navigation is generating additional module"
After generating the documentation, there is an additional entry called "module:app" in the navigation. I dont want it there and I do not even have a module called like this.
In particular the "module: app" with the "overview" and the subpoint "home" appears. But I'd like to have the point "overview" in the "module: app.home". How can I achieve this?

![unbenannt](https://cloud.githubusercontent.c

[2016-10-11 11:28] Faibk commented on #103
You need to name the overview. When you specify the @name annotation it will assume, that the last part is the name and the part before the point the module it's connected to.
That means you need to set @name like this:

[code]

[2016-12-09 11:07] lucasjahn commented on #88
it is actually possible:

dunny-item-list.component.js:
[code]

[2016-12-09 12:25] djleonskennedy commented on #88
thank you

[2016-12-09 12:25] #88 closed

[2017-01-03 22:44] krgowtham commented on #72
Hello,
Any update on this issue? When will the @templateUrl tag be available?

[2017-01-10 23:00] WillBDaniels opened #105 "nested modules with angular-jsdoc"
I've been trying to figure out how I would go about creating nested modules with angular-jsdoc, but I'm coming up a bit dry. For example, a file structure like so:

app-module.js --
                        |
                        |----app-submodule-module.js
                        |                               |
                        |                               |--app-submodule-config.j

[2017-02-27 11:01] MonsterKiller opened #107 "@private not working"
I'm somewhat new to JSDoc stuff but from what I understand, I should be able to add
[code]
above a function definition and it should not be shown in the generated docs, however adding this seems to have no effect, the function is still documented.

Example:
[code]

[2017-02-27 11:02] MonsterKiller commented on #105
+1 I am also looking for a way to do this for a project I am working on

[2017-03-13 14:19] brianpkelley commented on #63
Any movement on this?

[2017-03-25 04:52] jukebox017 commented on #87
In my case, I am using [docdash ](https://github.com/clenemt/docdash)as my template, and the type column was empty. The type was being parsed correctly from `@param` in ngdoc.js. However, it was stored in the property "typeDefinition" and "typeDefinitionUrl", and docdash was expecting to find a property of "type", with an additional property "names" within "type".

I added the following to ngdoc.j

[2017-05-09 14:22] MarkOdey commented on #64
Hey guys it seems I conf.json file is setup properly to read markdown however. It is not compiling it on my side. I must be missing some details. Could someone guide me through this? Or has anybody been able to use markdown syntax.

Thanks

[2017-06-07 14:20] wcoebergh opened #109 "cache.push is not a function"
Title says it all, no other errors or messages, just 'cache.push is not a function'.

Here is the full error log:

[code]

[2017-09-28 09:21] vpapadopou opened #110 "angular-template update crashes js-doc"
[code]

After searching it seems that a recent update in angular-template leads to angular-jsdoc crashing. Reverting back to angular-template 2.1.4 solves the problem.

[2017-09-29 09:54] darkmavis1980 commented on #109
I have the same issue, did anybody found a solution?

[2017-10-13 11:17] onkobu commented on #110
+1, it's the single line treatment of ht-if and ht-repeat. Despite ht-if="restrict" is false ht-repeat-expression gets evaluated, source is class.html. Splitting the lists in the template in half with ht-if in ul instead of li fixes the issue.

[2017-10-23 09:52] vpapadopou commented on #110
You can also use this forked version that fixes the problem: https://github.com/Monsido/angular-jsdoc

[2017-11-07 07:51] #103 closed

[2017-11-22 11:55] xenobytezero opened #111 "Publish fails with Node 8.9.1"
Our documentation build has started failing after a Node update (windows) to 8.9.1 from an old 6.x release.

[code]

Looking at documentation, `fs.copyFileSync` was added to the official `fs` module in 8.5.0, which I assume is overriding the `fs.copyFileSync` from `jsdoc` that is being used in `publish.js`

The official `fs.copyFileSync` does not allow a folder as the `dest` parameter, and will fa

[2017-11-23 15:05] nomaed commented on #111
jsdoc fixed this issue in version 3.5.5
See https://github.com/jsdoc3/jsdoc/issues/1438

[2018-02-15 17:41] wayrex commented on #87
Any news on that issue

[2018-03-01 10:59] anx-ckreuzberger commented on #109
Same issue

[2018-04-09 12:14] noelmace commented on #55
PR & Issues spring-cleaning: I no longer face the problem, and the discussion on this topic is no longer active, so I close this issue / PR. Feel free to reopen it if necessary.

[2018-04-09 12:14] #55 closed

[2018-05-14 13:47] mladenko opened #112 "TypeError: members.forEach is not a function"
When i start:
`node_modules\.bin\jsdoc --configure node_modules\angular-jsdoc\common\conf.json --template node_modules\angular-jsdoc\angular-template --destination build\docs -r www\js`

I get this error:
`C:\Users\marko\PlutalIonic\node_modules\angular-jsdoc\angular-template\publish.js:48
  members.forEach(function(doclet) {
          ^
TypeError: members.forEach is not a function
    at getChild

[2018-05-29 17:46] maylortaylor opened #113 "Search Filter is missing on Default Template"
in the main README.md you have stated that the **default** folder is the one to use for all new versions of Angular-JSDoc

`NOTE: the location of configure file and template directory has been moved with the release of 1.0.0 Please make changes accordingly for your gulp file.

configure: Old: node_modules/angular-jsdoc/conf.json New: node_modules/angular-jsdoc/common/conf.json
template: Old: node_

[2018-05-30 13:48] maylortaylor commented on #110
Could we get this fix in the main npm/git repo?

So we don't have to use a special "fixed" forked version.

[2018-05-30 14:20] maylortaylor commented on #110
I'm still getting these error on angular-jsdoc v1.5.0, v1.4.2, and v1.4.1

[2018-07-12 19:11] dilakv commented on #112
i did take a functional example from the page and start to implement my code to that template. I did take it from [here](https://github.com/allenhwkim/angular-jsdoc/blob/master/sample-codes/ngmap/map-controller.js)

Later, did appear this error

[code]

So, i did modify the file angular-jsdoc/angular-template/html/class.html

and did change

[code]

to

[code]

And finally works.

[2018-08-28 17:55] Leprosy commented on #110
Will be this fixed? I've npm installed angular-jsdoc a couple of days ago and I'm also getting the "restrict is not defined" error.

[2018-08-29 12:58] luninroman commented on #110
+1 waiting for a fix

[2018-08-30 14:14] allenhwkim commented on #110
this is merged and published.

[2018-09-05 08:30] luninroman opened #115 "Closed by default"
Is it possible to make all the right-side menu closed (collapsed) be default?

[2018-09-05 08:33] luninroman opened #116 "How to ignore specific files?"
How to ignore specific files? I have .spec.js files that placed next to my original AngularJS files. I want all of them to be ignored, because they were recognized as classes, that belongs to `undefined` module.

I've tried something like this, which gives an error.

[code]

[2018-09-06 02:38] allenhwkim commented on #116
You need to create your own conf.json starting from `https://github.com/allenhwkim/angular-jsdoc/blob/master/common/conf.json`

FYI
http://usejsdoc.org/about-configuring-jsdoc.html
http://usejsdoc.org/about-commandline.html

[2018-09-06 02:42] allenhwkim commented on #115
There is no default option to collapse the right-side menu. You can create your own by extending this `node_modules/angular-jsdoc/angular-template`

https://github.com/allenhwkim/angular-jsdoc/blob/master/angular-template/css/site.css
`nav#toc {display:none}`

[2018-10-01 21:38] hughrawlinson opened #117 "TypeError: Converting circular structure to JSON"
In `angular-template/publish.js` on line 67, the call to `JSON.stringify` fails in my repo due to a circular reference at path `CIRCULAR: obj.children.class.0.children.class.0 = obj.children.class.0 = [object Object]`. I'm not sure what could be causing this. It seems like it's parsing one of my classes as a child of itself. Any ideas?

[2018-10-04 10:24] luninroman commented on #116
@allenhwkim Thank you! Works for me

[2018-10-04 10:24] #116 closed, assigned to nobody

[2018-12-18 07:38] Rey-Wang opened #119 "why the page i generated have two css style?"
I configured the gruntfiles.js with the default template

[code]

but the page generated  presents a different style

![image](https://user-images.githubusercontent.com/45580554/50138848-e3d4a200-02da-11e9-8ad8-68107391bc1e.png)
![image](https://user-images.githubusercontent.com/45580554/50138856-eb944680-02da-11e9-836f-3ea95dd0f0e3.png)

[2018-12-18 07:52] Rey-Wang commented on #119
![image](https://user-images.githubusercontent.com/45580554/50139483-d6b8b280-02dc-11e9-889d-250ed06b1bce.png)
why generate two directive.html?

[2020-01-17 14:31] #83 closed

[2020-02-13 10:36] mOewa commented on #109
Same issue, anyone found a solution?

[2020-03-05 05:03] allenhwkim commented on #109
This line causes an error.
https://github.com/allenhwkim/angular-jsdoc/blob/4089c97d1226df923b20bd7cc5b4506143669600/angular-template/publish.js#L252

I am not sure why this is not an array.